.hooksseqcontainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logarea {
    min-width: 450px;
    min-height: 50vh;
    overflow-y: scroll;
    resize: none;
    scroll-behavior: auto;
    border: 0em;
    background-color: transparent;
    color: white;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 12px;
}

.rerenderbutton {
    height: 30px;
    width: 80px;
}